* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #fff;
}
html {
    font-size: 62.5%;
    font-family: 'futura', sans-serif;
    scroll-behavior: smooth;
}

li {
    list-style: none;
}

* a {
    text-decoration: none;
    color: inherit;
}
* a:visited{
    text-decoration: none;
    color: inherit;
}
* a:active {
    text-decoration: none;
    color:inherit;
}
.header{
    border-bottom: 1px solid #E2E8F0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
    background: #ffffff;
}
.hamburger {
    display: none;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #101010;
}
.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-item {
    margin-left: 5rem;
}

.nav-link{
    font-size: 1.6rem;
    font-weight: 400;
    color: #475569;
}

.nav-link:hover{
    color: #482ff7;
}

.nav-logo {
    font-size: 2.1rem;
    font-weight: 900;
    color: #000000;
}
@media only screen and (max-width: 768px) {
    .nav-menu {
        position: fixed;
        left: -100%;
        top: 5rem;
        flex-direction: column;
        background-color: #ffffff;
        width: 100%;
        border-radius: 10px;
        text-align: center;
        transition: 0.4s;
        box-shadow:
            0 10px 27px rgba(0, 0, 0, 0.05);
    }
.header
    .nav-menu.active {
        left: 0;
        z-index: 10000;
    }

    .nav-item {
        margin: 2.5rem 0;
    }

    .hamburger {
        display: block;
        cursor: pointer;
    }

}
 .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
    * {
        font-family:sans-serif;
    }
    section {
        width: 100%;
        height: auto;
        padding: 200px  20px 200px 20px;
        background-image: url("https://cdn.suwalls.com/wallpapers/3d/white-spheres-17530-2560x1600.jpg");
        background-size: cover;
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-color: #fff;
        background-position:center;
        text-align: center;
    }
    section h1 {
        font-size: 45px;
        color: #000000;
        letter-spacing: 0.08em;
        line-height: 1.3em;
    }
    section p {
        font-size: 18px;
        font-weight: 600;
        color: rgb(105, 105, 105);
        letter-spacing: 0.08em;
        
    }
    section button {
        margin-top: 34px;
        color: #000000;
        background: none;
        border: 1px solid #000000;
        padding: 14px 40px;
        font-size: 18px;
        border-radius: 5px;
        transition: 0.5s ease-in-out;
    }
    section button:hover {
        
        background:rgb(0, 0, 0);
        border: 1px solid #000000;
        color: rgb(241, 241, 241);
    }
    .about {
        display: flex;
        flex-wrap: wrap;
        background: ;
        justify-content: space-evenly;
        margin-top: 80px;
        padding: 30px 20px;
    }
    .about img {
        border-radius: 1000px;
        box-shadow:0px 8px 16px #242424;
    }
    .about > div {
        margin-bottom: 25px;
    }
    .about .divt {
        max-width: 620px;
        min-width: 365px;
        padding-left: 10px;
        padding-right: 10px;
    }
    .divt h1 {
        font-size: 35px;
        font-weight: 700;
        color: #000000;
    }
    .divt p {
        font-size:17px;
        text-align: justify;
        color: rgb(0, 0, 0);
        line-height: 1.6em;
    }
    .divt button {
        margin-top: 20px;
        margin-right: 20px;
        padding: 13px 34px;
        font-size: 17px;
    }
    .one {
        background:#000000;
        color: rgb(230, 230, 230);
        border: none;
        border-radius: 5px;
        box-shadow: 0px 6px 12px rgba(199, 199, 199, 0.5);
    }
    .two {
        background:rgb(226, 226, 226);
        color:rgb(0, 0, 0);
        border-radius: 5px;
        border: none;
        box-shadow: 0px 6px 12px rgba(199, 199, 199, 0.5);
    }




    .myportfolio {
        width: 100%;
        margin-top: 50px;
        background: #ffffff;
        padding: 80px 5px;
    }
    .myportfolio h1 {
        font-size: 28px;
        font-weight: 700;
        text-align: center;
        color:rgb(0, 0, 0);
    }
    .line {
        width: 100px;
        height: 3px;
        background: black;
    }

    .newcard {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items:baseline;
        color: rgb(233, 233, 233);
    }
    .newcard a{
        margin: 15px 0 0;
        display: inline-block;
        text-decoration: none;
        font-weight: 900;
        font-size: 14px;
        color: rgb(199, 199, 199);
        padding: 10px;
        border: 1px solid rgb(207, 207, 207);
        transition: 1s;
    }
    .newcard a:hover {
        color: rgb(0, 0, 0);
        background:rgb(245, 245, 245);
        border: 1px solid rgb(255, 255, 255);
    }
    .newcard > div {
        width: 350px;
        margin: 30px;
        background-image: linear-gradient(to right, #000000, #23044b);
        min-height: 450px;
        border-radius: 15px ;
        box-shadow: 0px 12px 28px rgba(0, 0, 0, 0.8);
    }
    .newcardimg {
        width: 100%;
        height:auto;
    }
    .newdiv {
        font-size: 17px;
        font-weight: 600;
        padding: 15px;
    }
    .newdiv p {
        margin-bottom: 10px;
        
    }
    footer {
        background: #1f2833;
        padding: 60px 10px 10px 10px;
        margin-top: -2px;
    }
    footer > div > div h1 {
        font-size: 32px;
        font-weight: 900;
        color: #E2E8F0;
    }

    .foot {
        display:flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    .foot h2 {
        color: #45a29e;
        font-size: 22px;
        font-weight: 700;
    }
    .foot > div {
        margin:15px;
    }
    .foot > div ul {
        margin-top: 30px;
        display: inline:
    }
    .foot > div ul li {
        margin-top: 10px;
        color: #c5c6c7;
        font-size: 15px;
        font-weight: 400;
    }
    footer p {
        text-align: center;
        margin-top: 40px;
        color: #c5c6c7;
        font-size: 12px;
    }
    .support-project {
        padding: 100px 10px;
        background-color: rgb(255, 255, 255);
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items:center;
    }
    .support-project > div {
        margin: 30px;
        width: 600px;
    }
    .support-project h2 {
        font-size: 30px;
        font-weight:800;
        text-align: center;
        color: #000000;
    }
    .support-project p {
        font-size: 16px;
        color: rgb(46, 46, 46);
    }
    #support { 
        font-size: 28px;
        font-weight: 300;
        text-align: center;
    color: #333333;}
        .project-protect {
            background: white;
            text-align: center;
            padding: 100px 10px;
        }
        #protection {
            font-size: 28px;
        }
        #prot {
            font-size: 30px;
        }
        #padlock {
            font-size: 45px;
        }
        #protection-paragraph {
            font-size: 16px;
            color: rgb(97, 97, 97);
        }
        .contact {
            padding: 100px 10px;
            background:#e8eeed;
            color: black;
            text-align: center;
        }
        .contact h2 {
            font-size: 20px;
        }
        .contact button {
            background: none;
            margin-top: 50px;
            color:rgb(31, 31, 31);
            padding:13px 30px;
            font-size: 17px;
            border: 1px solid #475569;
            border-radius: 5px;
            transition: 0.5s;
        }
        .contact button:hover {
            background: #475569;
            color:#f5f5f5;
        }
        .contact button a{
            text-decoration: none;
            color: inherit;
        }
        .amazingGod {
            font-size: 16px;
            color: #c0d1e7;
        }
        .amazingGod a:link {
            color: #c7d7ec;
        }
      
        .social-icons i{
            color: #000000;
        }
        .social-icons a:hover,
        .a-social-b a:hover {
            background-color: #000000;
            box-shadow: 2px 2px 12px rgba(0,0,0,0.3);
            transition: all ease 0.5s;
        }
        .social-icons a:hover i,
        .a-social-b a:hover i{
            color:#ffffff;
            transition: all ease 0.5s;
        }
        .a-social-b{
            position: fixed;
            top:50%;
            right: 0px;
            transform: translateY(-50%);
        }
        .a-social-b a{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 50px;
            height: 50px;
            padding:0px;
            margin: 0px;
            line-height:0px;
            background-color: #ffffff;
            border:1px solid #cbcbcb;
            box-shadow: 2px 2px 12px rgba(0,0,0,0.2);
        
        }
        .a-social-b i{
            color: #2b2b2b;
            font-size: 20px;
        }
.container {
    margin: 0;
    padding: 0;
    min-height: 50vh;
    background: rgb(255, 255, 255);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    position: relative;
    display: flex;
    width: 100%;
}
.container .card {
    position: relative;
    cursor: pointer;
}
.container .card .face {
    width: 300px;
    height: 200px;
    transition: 0.5s;
}
.container .card .face.face1 {
    position: relative;
    background: #222;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    transform: translateY(100px);
}
.container .card:hover .face.face1 {
    background: #222;
    transform: translateY(0);
}
.container .card .face.face1 .content {
    opacity: 0.2;
    transition: 0.5s;
}
.container .card:hover .face.face1 .content {
    opacity: 1;
}
.container .card .face.face1 .content img {
    max-width: 100px;
}
.container .card .face.face1 .content h3 {
    margin: 10px 0 0;
    padding: 0;
    color: rgb(221, 221, 221);
    text-align: center;
    font-size: 1.7em;
}
.container .card .face.face2 {
    position: relative;
    background: rgb(207, 207, 207);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0px 20px 50px rgba(0, 0, 0, 0.8);
    transform: translateY(-100px);
}
.container .card:hover .face.face2 {
    transform: translateY(0);
}
.container .card .face.face2 .content p {
    margin: 0;
    padding: 0;
    font-size: 15px;
}
.container .card .face.face2 .content a {
    margin: 15px 0 0;
    display: inline-block;
    text-decoration: none;
    font-weight: 900;
    font-size: 14px;
    color: #333;
    padding: 7px;
    border: 1px solid #333;
}
.container .card .face.face2 .content a:hover {
    background: #333;
    color: #fff;
}
.texth {
    padding-bottom: 10px;
    font-size: 35px;
    color: rgb(0, 0, 0);
    text-align: center;
}
footer {
    background: #000000;
    color: whitesmoke;
    padding: 30px 20px;
}
footer button {
    background-image: linear-gradient(to bottom right, #ffffff, #00c7c7);
    color: rgb(0, 0, 0);
    padding: 13px 35px;
    font-size: 18px;
    border-radius: 6px;
    border: none;
    transition: 0.67s;
    font-weight: 400;
}
.foot {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.foot > div {
    margin: 20px;
    padding: 15px 7px;
    font-size: 17px;
}
.foot > div ul li {
    margin-bottom: 11px;
    color: darkgray;
}
.aboutfoot {
    color: rgb(206, 206, 206);
    width: 300px;
    font-size: 16px;
    padding: 0px 40px 5px 5px;
    text-align: justify;
}
.weighted {
    font-size: 21px;
    font-weight: 800;
    color: whitesmoke;
    margin-bottom: 25px;
}
.sociallinks {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    font-size: 17px;
    color: rgb(206, 206, 206);
}
.contactfoot h2 {
    text-align: center;
    font-weight: 800;
    font-size: 21px;
}
.sociallinks li {
    border: 1px ridge rgb(175, 175, 175);
    border-radius: 6px;
    padding: 7px 10px;
    margin: 20px;
}
.copy {
    font-size: 12px;
    text-align: center;
    color: rgb(139, 139, 139);
}
.opacity {
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(30px);
    max-width: 900px;
    margin: auto;
    padding: 70px 20px;
}
#skyline {
    width: !00%;
    margin-bottom: -10px;
}
#blink {
    font-size: 60px;
    color: #ffffff;
    transition: 0.2s;
}
.services {
    background:rgb(253, 253, 253);
    padding: 80px 8px;
}
.services .pars {
    text-align: center;
    font-size: 16px;
    margin-bottom: 25px;
}
.carsd {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.carsd > div {
    padding: 20px;
    width: 365px;
    margin: 20px;
    background: rgb(255, 255, 255);
    transition: 0.5s;
    box-shadow: 0px 8px 15px rgb(207, 207, 207);
}
.carsd > div:hover {
    background: rgb(247, 247, 247);
    box-shadow: 0px 8px 15px rgb(80, 80, 80);
}
.carsd > div h2 {
    font-size: 35px;
    font-weight: 800;
    margin-top: 6px;
    margin-bottom: 10px;
    color: rgb(207, 207, 207);
}

.carsd > div h1 {
    font-size: 22px;
    margin-top: 6px;
    margin-bottom: 10px;
}
.carsd > div p {
    font-size: 17px;
    margin-bottom: 8px;
}
.transparent {
    padding: 100px;
    width: 100%;
    background-image: url("https://th.bing.com/th/id/R.811635b8822464ee611e4c050ce2476f?rik=opvcDXV%2fMd7Cbg&pid=ImgRaw&r=0");
        background-size: cover;
        background-attachment: fixed;
        background-repeat: no-repeat;
justify-content: center;
align-items: center;
}

.transdiv {

    padding: 30px;
    margin: 60px auto;
    text-align: center;
    color: rgb(255, 255, 255);
}
.transdiv h2 {
    font-size: 60px;
    font-weight: 900;
    margin-bottom: 20px;
}
.transdiv p {
    font-size: 15px;
    font-weight: 700;
}
.spar {
    text-align: center;
    font-size: 16px;
    margin-bottom: 25px;
    padding: 20px;
}
.zeke {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}
.zeke > div {
    max-width: 370px;
    margin: 20px;
    padding: 0px 0px 25px 0px;
    box-shadow: 0px 8px 15px rgb(85, 85, 85);
    border-radius: 10px;
}
.zeke > div .creative {
    width: fit-content;
    font-size: 10px;
    margin-top: -3px;
    padding: 10px 15px;
    background: rgb(236, 236, 236);
    color: rgb(182, 182, 182);
}
.zeke > div img {
    width: 100%;
}
.zeke > div .bestips {

    font-size: 22px;
    margin-top: 15px;
    font-weight: 700px;
    text-align: center;
}
.zeke > div .lorem {
    font-size: 15px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 10px;
    margin-bottom: 15px;
    text-align: center;
}

.zeke > div .adre {
    text-align: center;
    font-size: 16px;
    color: rgb(243, 243, 243);
    background: rgb(24, 24, 24);
    padding:14px 40px;
    margin-top: 15px;
    border-radius: 5px;
    width: fit-content;
    margin: auto;
}
.zeke > div .adre:hover {
    background:rgb(226, 226, 226);
        color:rgb(0, 0, 0);
        transition: 0.5s;
}
.first {
    border-top:1px solid black;
    border-left: 1px solid black;
} 
.intouch {
    max-width: 520px;
    min-width: 320px;
    padding: 60px 10px;
    font-size: 18px;
    text-align: center;
    margin: 35px auto ;
    background: rgb(255, 255, 255);
    border-bottom: 1px ridge rgb(241, 241, 241);
    border-left: 1px ridge rgb(241, 241, 241);
    transition: 1s;
    box-shadow: 0px 4px 7px rgb(237, 237, 237);
}
.intouch:hover {
    border: none;
    transition: 0.7s;
    box-shadow: 0px 8px 15px rgb(207, 207, 207);
    background: rgb(247, 247, 247);
}
.lomo {
    font-size: 29px;
    padding: 20px 22px;
    background: rgb(248, 248, 248);
    border-radius: 80px;
    margin-bottom: 30px;
}
.intouch:hover .lomo {
    background:#555;
    color: rgb(247, 247, 247);
    transition: 1.5s;
}
.touch {
    padding: 15px;
}
.freeart {
    padding: 60px 3px;
}
.liner {
    width: 100px;
        height: 3px;
        background: black;
        margin: auto;
}
.jojo {
    font-size: 35px;
    border-radius: 80px;
    margin-bottom: 30px;
}
.port {
    padding: 60px 20px;
}
.prolist {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.prolist > div {
    background: #000;
    width: 320px;
    height: 250px;
    margin: 20px;
}