* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
* a {
    text-decoration: none;
}
body {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif, 'Roboto', 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0px;
    margin: 0;
    box-sizing: border-box;
    user-select: none;
    scroll-behavior: smooth;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: whitesmoke;
    background: rgb(4, 3, 19);
}
@keyframes myAnimation {
    0% {
        background: rgb(176, 245, 239);
    }
    40% {
        background: rgb(170, 135, 202);
    }
    75% {
        background: rgb(204, 196, 201);
    }
    100% {
        background: rgb(151, 117, 65);
    }

}
.circle {
    background: rgb(99, 99, 99);
    height: 14rem;
    width: 14rem;
    top: 50%;
    left: 30%;
    border-radius: 50%;
    position:fixed;
    z-index: -1000;
    animation-name: myAnimation;
    animation-duration: 10s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
    margin:auto;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(70, 70, 70);
    text-shadow: 0px 0px 15px rgb(0, 0, 0);
}
.circle2 {
    background: rgb(150, 150, 150);
    height: 14rem;
    width: 14rem;
    top: 20%;
    right: 30%;
    border-radius: 50%;
    position:fixed;
    z-index: -1000;
    animation-name: myAnimation;
    animation-duration: 10s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
    margin:auto;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(70, 70, 70);
    text-shadow: 0px 0px 15px rgb(0, 0, 0);
}
@keyframes headerAnima {
    0% {
        box-shadow: 6px 6px 20px rgb(0, 58, 58);
    }
    40% {
        box-shadow: 6px 6px 20px rgb(54, 0, 0);
    }
    60% {
        box-shadow: 6px 6px 20px rgb(0, 0, 59);
    }
    85% {
        box-shadow: 6px 6px 20px #333;
    }
    100% {
        box-shadow: 6px 6px 20px rgb(0, 49, 49);
    }
}
header {
    animation-name: headerAnima;
    animation-duration: 10s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
    background: black;
    box-shadow: 6px 6px 20px orange;
    width: 100%;
    margin: 0;
    top: 0;
    left: 0;
    position: fixed;
    z-index: 1;
}
.sticky-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    max-width: 1500px;
    margin: auto;
}
.sticky-header h1 {
    font-size: 1.5rem;
    font-weight: 700;
    color: #ccc;
}
.sticky-header ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}
.sticky-header ul li {
    margin: 10px;
    padding: 5px;
    font-size: .8rem;
    font-weight: 700;
    color: #ddd;
}
.sticky-header ul li:hover {
    border-bottom: 1px solid white;
}
.sticky-header ul li:active {
    border-bottom: 1px solid rgb(95, 95, 95);
}
.style-name {
    color: #555;
}
.namesection {
    width: 100%;
    min-height: 70vh;
    background: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(1rem);
    margin-top: 7vh;
    padding: 1vh;
}
.intro {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    max-width: 1500px;
    margin: auto;
}
.intro h1 {
    font-size: 5rem;
    color: #eee;
}
#int1 {
    font-size: 1.2rem;
    font-weight: 600;
    margin: 10px 0;
    font-weight: 100;
    color: darkcyan;
}
#int2 {
    max-width: 570px;
    margin: 10px 0;
    font-size: 1rem;
    line-height: 1.3rem;
    color: rgb(160, 160, 160);
}
.intro > div:nth-child(1) {
    padding: 1vh;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.intro > div:nth-child(1) a { 
    text-decoration: none;
}
.intro > div:nth-child(1) a:active {
    text-decoration: none;
}
.intro > div:nth-child(1) button {
    padding: 13px 40px;
    border-radius: 40px;
    border: 2px solid silver;
    margin: 40px 0 0 0;
    color: #eee;
    font-size: .8rem;
    background: none;
}
.intro > div:nth-child(2) {
    width:700px;
    height:800px;
    display: flex;
    align-items: center;
    justify-content: center;
}
@keyframes cardAnime {
    0% {
        z-index: 0;
        transition: 1s;
    }
    10% {
        z-index: 5;
        transition: 1s;
        box-shadow:none;
    }
    30% {
        z-index: 7;
        transition: 1s;
        box-shadow: 10px 10px 20px rgb(0, 0, 0);
    }
    50% {
        z-index: 7;
        transition: 1s;
        box-shadow: 10px 10px 60px rgb(0, 0, 0);
    }
    
    70% {
        z-index: 7;
        transition: 1s;
        box-shadow: 10px 10px 20px rgb(0, 0, 0);
    }
    90% {
        z-index: 5;
        transition: 1s;
        box-shadow: none;
    }
    100% {
        z-index: 5;
        transition: 1s;
        box-shadow: 10px 10px 80px rgb(0, 0, 0);
    }

}
.movingcards1 {
    width:400px;
    height: 550px;
    background: rgb(255, 255, 255);
    margin-left: -20px;
    box-shadow: 20px 20px 80px rgb(0, 0, 0);
    z-index: 5;
}
.movingcards2 {
    animation-name: cardAnime;
    animation-duration: 8s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    width:300px;
    height: 300px;
    font-size: 2rem;
    font-weight: 900;
    align-items: center;
    text-shadow: 0px 0px 10px black;
    background: rgb(218, 218, 218);
    box-shadow: 10px 10px 80px rgb(0, 0, 0);
}
.portfolio-section {
    background: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(1rem);
    padding: 5vh 0;
    margin: 0;
    min-height: 60vh;
}
.portfolio-section > div h1 {
    text-align: center;
}
.disappear {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 3rem;
    color: rgb(20, 20, 20);
    font-weight: 700;
    margin: 0;
}
.recent-work {
    font-size: 3rem;
    color: #aaa;
    margin-top:-35px ;
}
.work-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.work-section > div {
    width: 400px;
    height: 600px;
    border: 2px inset darkcyan;
    margin: 30px;
    transition: .8s ease-in-out;
}
.work-section > div:hover,
.work-section > div:active {
    border: 2px outset darkcyan;
    transition: .8s ease-in-out;
}
.inside {
    background: rgb(24, 24, 24);
    width: 100%;
    height: 75%;
}
.p-btn {
    padding: 1.5vh;
}
.p-btn p {
    color: #777;
}
.p-btn button {
    padding: 10px 20px;
    margin-top:10px ;
    font-size: .9rem;
    background: none;
    color: #777;
    border: 2px solid #333;
}
.p-btn button:active {
    padding: 8px 18px;
    font-size: .8rem;
}
footer {
    color:#555;
    font-weight: 700;
    background: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(1rem);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height:10vh ;
    font-size: 12px;
}
.about-me {
    width: 100%;
    background: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(1rem);
    padding: 1vh;
}
.about-me > div {
    max-width: 1500px;
    margin: auto;
    padding: 10vh 0;
}
.flex-about {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.flex-about > div:nth-child(1) {
    max-width: 600px;
}
.flex-about > div:nth-child(1) h1 {
    font-size: 3rem;
    color: #777;
}
.flex-about > div:nth-child(1) p {
    font-size: 1rem;
    line-height: 1.4rem;
    color: #777;
}
.flex-about > div:nth-child(1) h3 {
    font-size: 1.5rem;
    color: #777;
    margin: 20px 0;
}
.flex-about > div:nth-child(1) button {
    margin: 20px 20px 20px 0;
    padding: 12px 30px;
    border: none;
    background: darkslategray;
    color: #ccc;
}

@keyframes animateButt1 {
    0% {
    background: darkslategray;
    }
    15% {
    background: darkcyan;
    }
    100% {
    background: darkslategray;
    }
}
.butt1 {
    animation-name: animateButt1;
    animation-duration: 5s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
}

@keyframes animateButt2 {
    0% {
    background: darkslategray;
    }
    30% {
    background: darkcyan;
    }
    100% {
    background: darkslategray;
    }
}
.butt2 {
    animation-name: animateButt2;
    animation-duration: 5s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
}
@keyframes animateButt3 {
    0% {
    background: darkslategray;
    }
    45% {
    background: darkcyan;
    }
    100% {
    background: darkslategray;
    }
}
.butt3 {
    animation-name: animateButt3;
    animation-duration: 5s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;

}
@keyframes animateButt4 {
    0% {
    background: darkslategray;
    }
    60% {
    background: darkcyan;
    }
    100% {
    background: darkslategray;
    }
}
.butt4 {
    animation-name: animateButt4;
    animation-duration: 5s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
}
@keyframes animateButt5 {
    0% {
    background: darkslategray;
    }
    75% {
    background: darkcyan;
    }
    100% {
    background: darkslategray;
    }
}
.butt5 {
    animation-name: animateButt5;
    animation-duration: 5s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
}

@keyframes animateButt6 {
    0% {
    background: darkslategray;
    }
    90% {
    background: darkcyan;
    }
    100% {
    background: darkslategray;
    }
}
.butt6 {
    animation-name: animateButt6;
    animation-duration: 5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

.flex-about > div:nth-child(2) {
    width: 500px;
    height: 600px;
    background: burlywood;
}

/*Form area and contact*/
.contact h1{
    text-align: center;
}
.expensive-contact-box {
    width: 800px;
    min-height: 500px;
    display: flex;
    justify-content: center;
    margin: 5vh auto;
}
.expensive-contact-box > div:nth-child(1) {
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid #333;
}
.expensive-contact-box > div:nth-child(1) h1 {
    transform: rotate(-90deg);
    font-size: 4rem;
    font-weight: 900;
    color: #333;
    background-image: linear-gradient(to bottom, #222, rgb(0, 95, 95));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.expensive-contact-box > div:nth-child(2) {
    width: 90%;
    padding: 2vh;
}
.wid {
    width: 90%;
    border: none;
    margin: 7px 0;
}
.form-box form button {
    padding: 15px 20px;
    background: #222;
    font-size: 17px;
    color: #ddd;
    border: none;
}
#visName {
    outline: none;
    padding: 10px;
    border: none;
    border-bottom: 2px solid darkcyan;
    background: none;
    color: #ccc;
    font-size: 1.05rem;
}
#visEmail {
    outline: none;
    padding: 10px;
    border: none;
    border-bottom: 2px solid darkcyan;
    background: none;
    color: #ccc;
    font-size: 1.05rem;
}
#visMsg {
    outline: none;
    height: 150px;
    padding: 10px;
    border: none;
    border-bottom: 2px solid darkcyan;
    background: none;
    color: #ccc;
    font-size: 1.05rem;
}
.social-links {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.social-links > div {
    margin:15px 15px 15px 0;
    padding: 10px;
    text-align: center;
}

.social-links > div p {
    font-size: .7rem;
    font-weight: 700;
    color: #999;
}
.social-links > div a {
    text-decoration: none;
}
.testimonial {
    background: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(1rem);
}
.testimonial h1 {
    text-align: center;
    color: darkcyan;
    font-size: 2.5rem;
}
.client-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.client-box > div {
    width: 200px;
    height: 150px;
    margin: 30px;
}
.client-box p {
    color: rgb(153, 153, 153);
    line-height: 1.5rem;
    font-size: .9rem;
}
.cl-name { background-image: linear-gradient(to bottom, #222, rgb(0, 158, 158));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
@media (max-width:650px) {
    .circle2 {
    background: rgb(97, 97, 97);
    height: 10rem;
    width: 10rem;
    top: 20%;
    right: 30%;
    border-radius: 50%;
    position:fixed;
    z-index: -1000;
    animation-name: myAnimation;
    animation-duration: 10s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
    margin:auto;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(70, 70, 70);
    text-shadow: 0px 0px 15px rgb(0, 0, 0);
}

header {
    animation-name: headerAnima;
    animation-duration: 10s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
    background: black;
    box-shadow: 6px 6px 20px orange;
    width: 100%;
    margin: 0;
    top: 0;
    left: 0;
    position: fixed;
    z-index: 1;
}
.sticky-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    max-width: 650px;
    margin: auto;
}
.sticky-header h1 {
    font-size: 1.3rem;
    font-weight: 700;
    color: #ccc;
}
.sticky-header ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}
.sticky-header ul li {
    margin: 5px;
    padding: 5px;
    font-size: .8rem;
    font-weight: 800;
    color: rgb(163, 163, 163);
}
.sticky-header ul li:hover {
    border-bottom: 1px solid white;
}
.sticky-header ul li:active {
    border-bottom: 1px solid rgb(95, 95, 95);
}
.style-name {
    color: #555;
}






.namesection {
    width: 100%;
    min-height: 70vh;
    background: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(1rem);
    margin-top: 7vh;
    padding: 2vh; 
}
.intro {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    max-width: 1500px;
    margin: auto;
}
.intro h1 {
    font-size: 3rem;
    color: #eee;
}
#int1 {
    font-size: 1.1rem;
    font-weight: 700;
    margin: 10px 0;
    font-weight: 100;
    color: darkcyan;
}
#int2 {
    max-width: 570px;
    margin: 10px 0;
    font-size: .9rem;
    line-height: 1.3rem;
}
.intro > div:nth-child(1) {
    padding: 2vh 0;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.intro > div:nth-child(1) a { 
    text-decoration: none;
}
.intro > div:nth-child(1) a:active {
    text-decoration: none;
}
.intro > div:nth-child(1) button {
    padding: 13px 40px;
    border-radius: 40px;
    border: 2px solid #ddd;
    margin: 40px 0 0 0;
    color: #ddd;
    font-size: .8rem;
    background: none;
    transition: ease-in-out;
}
.intro > div:nth-child(1) button:active {
    background: #111;
    border: 2px solid #111;
}
.intro > div:nth-child(2) {
    width:auto;
    min-height:600px;
    display: flex;
    align-items: center;
    justify-content: center;
}
@keyframes cardAnime {
    0% {
        z-index: 0;
        transition: 1s;
    }
    10% {
        z-index: 5;
        transition: 1s;
        box-shadow:none;
    }
    30% {
        z-index: 7;
        transition: 1s;
        box-shadow: 10px 10px 20px rgb(0, 0, 0);
    }
    50% {
        z-index: 7;
        transition: 1s;
        box-shadow: 10px 10px 60px rgb(0, 0, 0);
    }
    
    70% {
        z-index: 7;
        transition: 1s;
        box-shadow: 10px 10px 20px rgb(0, 0, 0);
    }
    90% {
        z-index: 5;
        transition: 1s;
        box-shadow: none;
    }
    100% {
        z-index: 5;
        transition: 1s;
        box-shadow: 10px 10px 80px rgb(0, 0, 0);
    }

}
.movingcards1 {
    width:260px;
    height: 550px;
    background: rgb(255, 255, 255);
    margin-left: -140px;
    box-shadow: 20px 20px 80px rgb(0, 0, 0);
    z-index: 5;
}
.movingcards2 {
    animation-name: cardAnime;
    animation-duration: 8s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    width:210px;
    height: 210px;
    background: rgb(255, 255, 255);
    box-shadow: 10px 10px 80px rgb(0, 0, 0);
}

.portfolio-section {
    background: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(1rem);
    padding: 5vh 2vh;
    margin: 0;
    min-height: 60vh;
}
.portfolio-section {
    background: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(1rem);
    padding: 5vh 0;
    margin: 0;
    min-height: 60vh;
}
.portfolio-section > div h1 {
    text-align: center;
}
.disappear {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2.7rem;
    color: rgb(20, 20, 20);
    font-weight: 700;
    margin: 0;
}
.recent-work {
    font-size: 2.7rem;
    color: #aaa;
    margin-top:-35px ;
}

.work-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.work-section > div {
    width: 320px;
    min-height: 450px;
    border: 2px inset darkcyan;
    margin: 30px 0;
    transition: .8s ease-in-out;
}
.work-section > div:hover,
.work-section > div:active {
    border: 2px outset darkcyan;
    transition: .8s ease-in-out;
}
.inside {
    background: rgb(24, 24, 24);
    width: 100%;
    height: 70%;
}
.p-btn {
    padding: 20px 10;
}
.p-btn p {
    color: #777;
}
.p-btn button {
    padding: 10px 20px;
    margin-top:10px ;
    font-size: .9rem;
    background: none;
    color: #777;
    border: 2px solid #333;
}
.p-btn button:active {
    padding: 8px 18px;
    font-size: .8rem;
}




.about-me {
    width: 100%;
    background: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(1rem);
    padding: 2vh;
}
.about-me > div {
    max-width: 1500px;
    margin: auto;
    padding: 10vh 0;
}
.flex-about {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.flex-about > div:nth-child(1) {
    max-width: 600px;
}
.flex-about > div:nth-child(1) h1 {
    font-size: 2.7rem;
    color: #777;
}
.flex-about > div:nth-child(1) p {
    font-size: 1rem;
    line-height: 1.4rem;
    color: #777;
}
.flex-about > div:nth-child(1) h3 {
    font-size: 1.5rem;
    color: #777;
    margin: 20px 0;
}
.flex-about > div:nth-child(1) button {
    margin: 20px 20px 20px 0;
    padding: 12px 30px;
    border: none;
    background: darkslategray;
    color: #ccc;
}
.flex-about > div:nth-child(2) {
    margin-top: 10vh;
    max-width: 500px;
    height: 500px;
    background: rgb(255, 145, 0);
}







/*Form area and contact*/
.contact h1{
    text-align: center;
}
.expensive-contact-box {
    max-width: 350px;
    min-height: 500px;
    display: flex;
    justify-content: center;
    margin: 5vh auto;
    padding-bottom: 2vh;
}
.expensive-contact-box > div:nth-child(1) {
    width: 12%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid #333;
}
.expensive-contact-box > div:nth-child(1) h1 {
    transform: rotate(-90deg);
    font-size: 2.7rem;
    font-weight: 900;
    color: #333;
    background-image: linear-gradient(to bottom, #222, rgb(0, 95, 95));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.expensive-contact-box > div:nth-child(2) {
    width: 88%;
    padding: 2vh;
}
.wid {
    width: 90%;
    border: none;
    margin: 7px 0;
}
.form-box form button {
    padding: 15px 20px;
    background: #222;
    font-size: 16px;
    color: #aaa;
    border: none;
}
#visName {
    outline: none;
    padding: 10px;
    border: none;
    border-bottom: 2px solid darkcyan;
    background: none;
    color: #ccc;
    font-size: .9rem;
}
#visEmail {
    outline: none;
    padding: 10px;
    border: none;
    border-bottom: 2px solid darkcyan;
    background: none;
    color: #ccc;
    font-size: .9rem;
}
#visMsg {
    outline: none;
    height: 150px;
    padding: 10px;
    border: none;
    border-bottom: 2px solid darkcyan;
    background: none;
    color: #ccc;
    font-size: .9rem;
}
.social-links {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 20px;
}
.social-links > div {
    margin:15px 15px 15px 0;
    padding: 10px;
    text-align: center;
}
.social-links > div p {
    font-size: .8rem;
    font-weight: 700;
    color: #999;
}


}